body {
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "East Sea Dokdo", cursive;
  background-image: url("https://cdn.imweb.me/upload/S2017101359e025984d346/0aeb95d5bbb1e.jpg");
}

.container {
  border: 10px solid white;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(247, 243, 242, 0.7);
}

.section {
  display: flex;
  align-items: center;
  height: 100%;
}
.border-line {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.button-style {
  height: 80px;
  width: 100px;
  margin-top: 5px;
  font-size: 30pt;
  font-weight: bold;
}
.pre-title {
  font-size: 3vw;
  font-weight: bold;
  color: blueviolet;
}
.title {
  font-size: 3vw;
  font-weight: bold;
  color: green;
}
.sub-title {
  font-size: 3vw;
  font-weight: bold;
}

.main-img {
  width: 20vw;
  height: 20vh;
}

.red-text {
  color: red;
}

.form-control {
  height: 80px;
  font-size: 2vw;
  margin-right: 20px;
  margin-top: 50px;
  text-align: center;
}

#result-area {
  font-size: 2rem;
  margin-top: 20px;
}

#chance-area {
  font-size: 2rem;
  margin-top: 20px;
}

#play-button {
  font-size: 2rem;
  display: block;
  margin-right: 150px;
  margin-top: 50px;
}

#reset-button {
  font-size: 2rem;
  display: block;
  margin-left: 150px;
  margin-top: -78px;
}
@media screen and (max-width: 48rem) {
  .pre-title {
    font-size: 10vw;
  }
  .title {
    font-size: 12vw;
  }
  .sub-title {
    font-size: 11vw;
  }
  .form-control {
    font-size: 8vw;
    max-width: 500px;
    margin-right: 0px;
  }
  .main-img {
    width: 40vw;
  }
  .button-reset {
    font-size: 5vw;
    width: 80px;
    height: 60px;
  }
}
